@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Verdana";
  src: local("Verdana"), local("verdana"),
    url("/fonts/verdana/verdana.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Verdana";
  src: local("Verdana Bold"), local("verdana-bold"),
    url("/fonts/verdana/verdana-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Verdana";
  src: local("Verdana Bold Italic"), local("verdana-bold-italic"),
    url("/fonts/verdana/verdana-bold-italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

body {
  margin: 0;
  background: #fff;
  font-family: Verdana, sans-serif;
}
